/*
 * https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8
 */

* {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --dark-1: #2c3e50;
  --dark-2: #222222;
  --dark-3: #343434;
  --dark-4: #414141;
  --light-1: #f9f9f9;
  --color-text-1: #f9f9f9;
  --ternary-bg-color: #181818;
  --main-fg-color: #b8b8b8;
 text-align: center;
}

input {
  background-color: var(--main-fg-color);
  border: none;
}

select {
  background-color: var(--main-fg-color);
  border: none;
}

.drawer {
  color: white;
  
}


.mytop {
  background-color: var(--dark-1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  color: white;
}

.mybottom {
  background-color: var(--dark-1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px; 
  color: white;
}

.myright {
  min-width: 200px;
  background-color: var(--dark-2);
}

.myleft {
  background-color: var(--dark-2);
  padding: 10px;
}

.canvas {
  background-color: var(--main-fg-color);
}

.client_container {
  background-color: var(--dark-4);
  width: 360px;
}

.server_container {
  padding: 0px;
  margin: 0px;
}

.simulation_container {
  border-radius: 5px;
  background-color: var(--dark-3);
  text-align: left;
}

.topology_container {

}

.topology_container_holder {

}

button {   
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  margin: 4px 4px;
  border: none;
}
.btn-basic:hover {
  outline: 2px solid var(--dark-4);
}

.important-btn {
  border-radius: 0;
  border-left: 3px solid var(--dark-1);
}


.btn-light {
  color: #1a1a1a;
  background-color: var(--main-fg-color)
}

.btn-trans {
  background-color: transparent;
  text-align: left;
}
.btn-trans:hover {
  background-color: var(--dark-3);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

input {
  outline: none;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 4px 4px;
  font-size: 13px;
}

select {
  font-size: 13px;
  cursor: pointer;
}

option {
  font-size: 13px;
  cursor: pointer;
}

.parent {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--dark-2);
  padding: 10px;
}

.child {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nodes {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.row {
  display: flex;
  margin: 2px;
  padding: 2px 10px;
  align-items: center;
  text-align: left;
}

.col {
  text-align: left;
  align-items: left;
  margin: 0 auto;
  flex: 50%;
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-1); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: car(--color-text-1); 
}

.btn {
  background-color: var(--dark-3);
  color: var(--color-text-1);
  padding: 0px 4px 0px 4px;
  margin: 0px 5px;
  font-size: 15px;
  border-radius: 5px;
  border: 0px solid red;
}

.area {
  padding: 5px;
}

.s {
  padding-left: 8px;
  padding-right: 8px;
}